[color]
	branch = auto
	status = auto
	diff = true
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
	whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[apply]
	whitespace = nowarn
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	pager = !$HOME/bin/git-pager \"$@\"
	info = !$HOME/bin/git-info \"$@\"
	l = log -C --decorate
	ls = log -C --stat --decorate
	lsp = log -C --stat -p --decorate
	lg = log --graph '--pretty=tformat:%Cblue%h%Creset %Cgreen%ar%Creset %Cblue%d%Creset %s'
	lga = log --graph '--pretty=tformat:%Cblue%h%Creset %Cgreen%ar%Creset %Cblue%d%Creset %s' --all
	l19 = log --graph '--pretty=tformat:%Cblue%h%Creset %Cgreen%ar%Creset %Cblue%d%Creset %s' --all -19
	lsd = log --graph '--pretty=tformat:%Cblue%h%Creset %Cgreen%ar%Creset %Cblue%d%Creset %s' --all --simplify-by-decoration
	gr = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"


[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = less -FRSX

[user]
	email = user@home
	name = User

[push]
	default = current
