set show-all-if-ambiguous on
set completion-ignore-case on
set completion-map-case on

set echo-control-characters off
set expand-tilde off

$if term=xterm-256color
  "\e[1~": beginning-of-line
	"\e[4~": end-of-line
	"\e\e[C": forward-word
	"\e\e[D": backward-word
  "\e[5~": history-search-backward
  "\e[6~": history-search-forward
$endif
